<!DOCTYPE html>
<html>
	<h1>Clientes</h1>

	<ul>
		<% for (var chave in clientes) { %>
			<li><%= clientes[chave].nome %> - <%= clientes[chave].email %></li>
		<% } %>
	</ul>


	<% if(erros) { %>
	<ul>
		<% for (var k in erros) { %>
			<li><%= erros[k].msg %></li>
		<% } %>
	</ul>
	<% } %>


	<br>
	<form action="/" method="POST">
		<input type="text" name="nome" placeholder="Nome" value="<%= dados.nome%>">
		<input type="text" name="email" placeholder="Email" value="<%= dados.email%>">
		<button>Adicionar</button>
	</form>
</html>